virtualenv/
venv/
*.env
.cache
__pycache__
telepresence.log
.mypy_cache
.pytest_cache
*.pyc
.hypothesis
*.egg-info
dist
prof

# Secrets -- don't commit these!
gcloud-service-key.json

# Dev tools
.idea
.vscode

# testbench
/mkosi.cache/
/testbench.html
*.tap
.mkosi*

# --- Docs ---
docs/book.json
docs/_book
docs/node_modules/
.netlify
