Alex Gervais <alex@datawire.io>                        alex <alex@datawire.io>
Alex Gervais <alex@datawire.io>                        <alex.gervais@gmail.com>
Donny Yung <donaldyung@datawire.io>                    <donaldryung@gmail.com>
Flynn <flynn@datawire.io>                              <kflynn@users.noreply.github.com>
John Esmet <johnesmet@datawire.io>                     <jesmet@appnexus.com>
Luke Shumaker <lukeshu@datawire.io>                    <lukeshu@lukeshu.com>
Maxime Legault-Venne <maximelegaultvenne@datawire.io>  <mlegoven@hotmail.com>
Rafael Schloming <rhs@datawire.io>                     <rhs@alum.mit.edu>
Thomas Hallgren <thomas@datawire.io>                   <thomas@tada.se>

Abhay Saxena <ark3@email.com>            <ark3@datawire.io>
Alvaro Saurin <alvaro.saurin@gmail.com>  <1841612+inercia@users.noreply.github.com>
Philip Lombardi <plombardi89@gmail.com>  plombardi <plombardi89@gmail.com>
Philip Lombardi <plombardi89@gmail.com>  <893096+plombardi89@users.noreply.github.com>
Philip Lombardi <plombardi89@gmail.com>  <plombardi@datawire.io>
