version: 2.1

commands:
  aws-install:
    steps:
      - run: |
          sudo pip install awscli

  golang-install:
    parameters:
      os:
        type: string
    steps:
      # Golang install

      # For some reason it is faster to curl into a file than to just
      # pipe the curl straight to tar.
      - run: |
          sudo rm -rf /usr/local/go &&
          curl https://dl.google.com/go/go1.13.<<parameters.os>>-amd64.tar.gz -o /tmp/go.tgz &&
          sudo tar -C /usr/local -xzf /tmp/go.tgz

      # Golang paths
      - run: |
          echo 'export PATH=${PATH}:/usr/local/go/bin' >> ${BASH_ENV} &&
          echo 'export GOPATH=${HOME}/go' >> ${BASH_ENV}

      - run: 'echo PATH: ${PATH} || true'
      - run: 'echo GOPATH: ${GOPATH} || true'
      - run: go version

  kubectl-install:
    steps:
      - run: curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.12.2/bin/$(go env GOOS)/$(go env GOARCH)/kubectl
      - run: chmod a+x ./kubectl
      - run: sudo mv kubectl /usr/local/bin

  save-go-mod-cache:
    steps:
      - run:
          command: |
            mkdir -p "$(go env GOPATH)/pkg/mod/cache/download/"
            rsync -av --delete "$(go env GOPATH)/pkg/mod/cache/download/" ~/goproxy
          when: always
      - save_cache:
          # Use {{arch}} as a proxy for
          # {{.Environment.HOME}}... because despite what the CircleCI
          # docs say, {{.Environment.HOME}} evaluates to "<no value>".
          #
          # Why put it in $HOME, instead of /tmp or something, and be
          # able to share the cache?  Because /tmp is a symlink to
          # /private/tmp on macOS, and CircleCI is broken on macOS
          # whenever symlinks are involved.
          key: go-mod-cache-{{ arch }}-{{ checksum "go.mod" }}-{{ .BuildNum }}
          paths: "~/goproxy"
          when: always
  restore-go-mod-cache:
    steps:
      - restore_cache:
          keys:
            - go-mod-cache-{{ arch }}-{{ checksum "go.mod" }}-
            - go-mod-cache-{{ arch }}-
      - run: |
          echo 'export GOPROXY=file://$HOME/goproxy,$(go env GOPROXY)' >> "${BASH_ENV}"

  main:
    steps:
      - checkout
      - restore-go-mod-cache
      - run: go mod vendor
      - run:
          # Use a ridiculously-long timeout because MacOS CI is slow and
          # teleproxy/edgectl tests serialize on the machine lock.
          command: GOFLAGS=-timeout=30m make check
          no_output_timeout: 30m
      - save-go-mod-cache
      - run: make build
      - run:
          name: "gather logs"
          when: always
          command: |
            cp /tmp/edgectl.log . || true
            rsync -ma --include='*/' --include='*.tap' --include='*.log' --exclude='*' . /tmp/test-logs
            grep "Acquiring machine lock" build-aux/go-test.tap | sed 'sX.*teleproxy/XX' | uniq || true
      - store_artifacts:
          path: /tmp/test-logs
          destination: test-logs
      - run: |
          if test -n "$CIRCLE_TAG"; then
              export AWS_ACCESS_KEY_ID=$DEPLOY_KEY_ID
              export AWS_SECRET_ACCESS_KEY=$DEPLOY_KEY
              make release
          fi

jobs:

  macos-build:
    macos:
      xcode: "9.0"
    working_directory: ~/repo
    steps:
      - restore_cache:
          keys:
            - brew-cache-2
      - run: brew install socat docker-machine-driver-xhyve docker &&
             sudo chown root:wheel /usr/local/opt/docker-machine-driver-xhyve/bin/docker-machine-driver-xhyve &&
             sudo chmod u+s /usr/local/opt/docker-machine-driver-xhyve/bin/docker-machine-driver-xhyve
      - run:
          name: Docker Virtual Machine
          command: docker-machine create default --xhyve-boot2docker-url https://github.com/boot2docker/boot2docker/releases/download/v19.03.2/boot2docker.iso --driver xhyve && sleep 7200
          background: true
      - run: until docker-machine env; do sleep 3; done && docker-machine env >> ${BASH_ENV}
      - run: docker system info
      - save_cache:
          key: brew-cache-2
          paths:
            - /usr/local/Homebrew
            - ".docker"
          when: always
      - run:
          name: Registry Port Forward (IPv4)
          command: socat tcp4-listen:5000,reuseaddr,fork tcp:$(docker-machine ip):5000
          background: true
      - run:
          name: K3s Port Forward (IPv4)
          command: socat tcp4-listen:6443,reuseaddr,fork tcp:$(docker-machine ip):6443
          background: true
      - run:
          name: Registry Port Forward (IPv6)
          command: socat tcp6-listen:5000,reuseaddr,fork tcp:$(docker-machine ip):5000
          background: true
      - run:
          name: K3s Port Forward (IPv6)
          command: socat tcp6-listen:6443,reuseaddr,fork tcp:$(docker-machine ip):6443
          background: true
      - aws-install
      - golang-install:
          os: darwin
      - kubectl-install
      - run: brew install jq
      - main

  machine-build:
    machine:
      image: "ubuntu-1604:201903-01"
    working_directory: ~/repo
    steps:
      - aws-install
      - golang-install:
          os: linux
      - kubectl-install
      - main

workflows:
  version: 2.1

  multibuild:
    jobs:
      - machine-build:
          filters:
            tags:
              only: /.*/
      - macos-build:
          filters:
            tags:
              only: /.*/
