version: 2.1

commands:
  aws-install:
    steps:
      - run: |
          sudo pip install awscli

  golang-install:
    parameters:
      os:
        type: string
    steps:
      # Golang install

      # For some reason it is faster to curl into a file than to just
      # pipe the curl straight to tar.
      - run: |
          sudo rm -rf /usr/local/go &&
          curl https://dl.google.com/go/go1.11.4.<<parameters.os>>-amd64.tar.gz -o /tmp/go.tgz &&
          sudo tar -C /usr/local -xzf /tmp/go.tgz

      # Golang paths
      - run: |
          echo 'export PATH=${PATH}:/usr/local/go/bin' >> ${BASH_ENV} &&
          echo 'export GOPATH=${HOME}/go' >> ${BASH_ENV}

      - run: 'echo PATH: ${PATH} || true'
      - run: 'echo GOPATH: ${GOPATH} || true'
      - run: go version

  kubectl-install:
    steps:
      - run: curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.12.2/bin/$(go env GOOS)/$(go env GOARCH)/kubectl
      - run: chmod a+x ./kubectl
      - run: sudo mv kubectl /usr/local/bin

  main:
    steps:
      - checkout
      - run: make check
      - run:
          command: make unclaim
          when: always
      - run: make build
      - run:
          name: "gather logs"
          when: always
          command: |
            rsync -ma --include='*/' --include='*.tap' --include='*.log' --exclude='*' . /tmp/test-logs
      - store_artifacts:
          path: /tmp/test-logs
          destination: test-logs
      - run: |
          if test -n "$CIRCLE_TAG"; then
              export AWS_ACCESS_KEY_ID=$DEPLOY_KEY_ID
              export AWS_SECRET_ACCESS_KEY=$DEPLOY_KEY
              make release
          fi

jobs:

  macos-build:
    macos:
      xcode: "9.0"
    working_directory: ~/repo
    steps:
      - aws-install
      - golang-install:
          os: darwin
      - kubectl-install
      - main

  machine-build:
    machine: true
    working_directory: ~/repo
    steps:
      - aws-install
      - golang-install:
          os: linux
      - kubectl-install
      - main

workflows:
  version: 2.1

  multibuild:
    jobs:
      - machine-build:
          filters:
            tags:
              only: /.*/
      - macos-build:
          filters:
            tags:
              only: /.*/
