# https://circleci.com/docs/2.0/

version: 2
workflows:
  version: 2
  ci:
    jobs:
      - "build-image"
      - "build-macos"

jobs:
  build-image:
    machine:
      enabled: true

  build-macos:
    macos:
      xcode: "9.0"

    environment:
      - PROJECT_NAME: "datawireio"

    steps:
      - "checkout"

      - run:
          name: "decrypt gcloud keys"
          command: |
            # To update:
            #   1) Generate a new key and IV:
            #      $ dd if=/dev/urandom count=64 bs=1 | md5sum
            #   2) Update GCLOUD_KEY and GCLOUD_IV in CircleCI "Environment
            #      Variables" configuration for Telepresence project.
            #   3) Encrypt the new gcloud key:
            #      $ ci/encrypt-gcloud-key circleci $GCLOUD_KEY $GCLOUD_IV
            ci/decrypt-gcloud-key circleci $GCLOUD_KEY $GCLOUD_IV

      - restore_cache:
          key: "system-components"

      - run:
          name: "setup non-Python environment"
          command: |
            # Note hard-coded OSX platform
            ./environment-setup.sh datawireio telepresence-testing us-central1-a osx

      - run:
          name: "configure gcloud"
          command: |
            echo 'PATH=${HOME}/google-cloud-sdk/bin:${PATH}' >> ${BASH_ENV}

      - save_cache:
          key: "system-components"
          paths:
            - "~/Library/Caches/Homebrew"
            - "~/google-cloud-sdk/"

      - restore_cache:
          key: |
            pip-http-cache-{{ .Branch }}-{{ checksum "dev-requirements.txt" }}-{{ checksum "k8s-proxy/requirements.txt" }}-{{ checksum "setup.py" }}

      - run:
          name: "setup Python environment"
          command: |
            ./build --registry gcr.io/datawireio --manage-virtualenv

      - save_cache:
          key: |
            pip-http-cache-{{ .Branch }}-{{ checksum "dev-requirements.txt" }}-{{ checksum "k8s-proxy/requirements.txt" }}-{{ checksum "setup.py" }}
          paths:
            # OSX specific
            - "~/Library/Caches/pip/"

      - run:
          name: "run lint checks"
          command: |
            ./build --registry gcr.io/datawireio --flake8 --pylint --mypy

      - run:
          name: "run tests"
          command: |
            ./build --circle
