html, body {
    height: 100%
}
.menu .item.header img {
    width: 10px;
    height: 10px;
}
.example-grid .column, .example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; 
}
.page-content {
    margin-top: 30px;
    margin-bottom: 30px;
}
.heading-font-size {
    font-size: 1.5rem;
}
.icons-list .row {
    margin-bottom: 1.5rem;
}
pre[class*="language-"] {
  background:  #f8f8f8 !important;
}
.hero {
    height: 100%;
    margin-bottom: 5rem;
    width: 100%;
}
.hero .logo {
    text-align: center;
    margin-top: 3rem;
}

.hero .logo span {
    color: #696969;
}
.hero .logo img {
    width: 200px
}
.hero h1 {
    color: #525252;
    text-align: center;
    margin-bottom: 0;
}

@-webkit-keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .50;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .50;
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
div.fluid {
     padding-left: 20px;
     padding-right: 20px;
}
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.docs section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
}

.docs section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
    border-top: 1px solid #eee;
}

#main_header > nav {
    padding: 10px 0;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid #e8e8e8;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}
#contents > div {
    padding-top: 30px;
}

.mailing-list-signup {
    background: rgb(247, 247, 247);
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 -20px;
    padding: 30px 20px;
    text-align: center;
}

.mailing-list-signup .hbspt-form {
    max-width: 600px;
    margin: 0 auto;
}
.mailing-list-signup .hbspt-form > form {
    display: flex;
}
.mailing-list-signup .hbspt-form > form > .hs_email {
    flex: 1;
}
.mailing-list-signup .hbspt-form > form > .hs_email input {
    width: 100%;
    border-radius: 4px 0 0 4px;
}
.mailing-list-signup .hbspt-form > form > .hs_email > label {
    display: none;
}
.mailing-list-signup .hbspt-form .hs-error-msgs {
    list-style-type: none;
    margin-bottom: 0;
}
.mailing-list-signup .hs_submit .hs-button {
    background: #1eaedb;
    border-color: #1eaedb;
    color: #fff;
    font-size: 15px;
    border-radius: 0 4px 4px 0;
}

.share-buttons {
    padding: 30px 0;
}
.list-share-buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-share-buttons li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.share-btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 2px;
    color: #777;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
}
.share-btn:hover {
    color: #fff;
    background-color: #1eaedb;
    border-color: #1eaedb;
    text-decoration: none;
}
.share-btn > svg {
    fill: currentColor;
    vertical-align: middle;
    width: 18px;
    margin: -3px 5px 0;
}
@media (max-width: 550px) {
    .list-share-buttons li , .share-btn {
        display: block;
    }
}

#dw-flyout {
    position: fixed;
    left: 12px;
    bottom: 12px;
    max-width: 320px;
    min-width: 250px;
    padding: 18px;
    border-radius: 6px;
    border: 1px solid #cccfd1;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 hsla(199,7%,45%,.35);
    -webkit-animation-name: x;
    animation-name: x;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all .3s ease-in-out;
}

#dw-flyout .hs-error-msgs {
    list-style-type: none;
}

#dw-flyout.is-hidden {
    left: -480px
}

#dw-flyout.is-dismissed {
    bottom: -100%
}

#dw-flyout h3 {
    margin: 3px 0 9px
}

#dw-flyout .inputs-list {
    padding: 0
}

#dw-flyout .inputs-list label {
    margin: 0
}

#dw-flyout .hs-form-booleancheckbox input[type=checkbox] {
    margin-right: 9px
}

#dw-flyout .hs-form-field>label {
    display: none
}

#dw-flyout .hbspt-form > form {
    margin: 0;
}

#dw-flyout .hs-input {
    width: 100%;
}

#dw-flyout input[type=submit] {
    background: #62C2D7;
    border-radius: 3px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    border: 0;
    padding: 0;
    width: 100%;
    opacity: 1;
}

.dw-flyout__close {
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: -9px;
    display: block;
    padding: 0 6px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    border-radius: 48px;
    background-color: #6c777c
}